{{define "title"}}Mensa{{end}}
{{define "content"}}

<a href="/cafeteria/{{.DateBefore.Year}}/{{.DateBefore.Month | monthInt | padZero 2}}/{{.DateBefore.Day | padZero 2}}">{{.DateBefore | formatRelativeDate ""}}</a>
{{.Date | formatRelativeDate ""}}
<a href="/cafeteria/{{.DateAfter.Year}}/{{.DateAfter.Month | monthInt | padZero 2}}/{{.DateAfter.Day | padZero 2}}">{{.DateAfter | formatRelativeDate ""}}</a>

{{range $time, $meals := .Meals}}
{{if $meals}}
	{{if eq $time 0}}
		<h2 class="meal-name" id="morning">Frühstück</h2>
		08:00 &#x2012; 10:00
	{{else if eq $time 1}}
		<h2 class="meal-name" id="noon">Mittagessen</h2>
		11:00 &#x2012; 14:00<br>
	{{else if eq $time 2}}
		<h2 class="meal-name" id="afternoon">Zwischenversorgung</h2>
		15:00 &#x2012; 16:30
	{{else if eq $time 3}}
		<h2 class="meal-name" id="evening">Abendessen</h2>
		17:30 &#x2012; 19:30
	{{end}}
{{end}}

{{range $meals}}
<h3 class="cafeteria-name">{{.Name}}</h3>
{{if .Optional}}
<details><summary>Gerichte</summary>
{{end}}
<div class="dishes">
	{{range .Dishes}}
	<div class="dish" style="--diet-color: {{.Diet | dietColor}}">
		<h4>
			{{.Name}}
			{{range .Diet | dietInfo}}
			<span title="{{.Description}}">{{.Emoji}}</span>
			{{end}}
		</h4>
		{{if .Description}}
			<p>{{.Description}}</p>
		{{end}}
		<ul class="ingredients">
			{{range .Ingredients}}
			<li>
				{{.Name}}
				{{range .Diet | dietInfo}}
				<span title="{{.Description}}">{{.Emoji}}</span>
				{{end}}
			</li>
			{{end}}
		</ul>
		<span>{{.StudentPrice | formatMoney}}</span>
	</div>
	{{end}}
</div>
{{if .Optional}}</details>{{end}}
{{end}}
</div>

{{end}}

<style>
.meal-name {
	padding-top: 1.5em;
}

.cafeteria-name {
	padding-top: 1em;
	padding-bottom: 0.25em;
}

.dish {
	border-radius: 1em;
	border: 0.1em solid var(--diet-color);
	max-width: 90ch;

	padding: 1em;
}

.dish>h4 {
	font-size: 1.1rem;
	padding: 0;
}

.dishes {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.ingredients {
	padding-inline-start: 2em;
}
</style>

{{end}}
