{{define "title"}}Noten{{end}}
{{define "content"}}

<span>{{template "ects-grade" .}}</span>

{{range .Terms}}
<h2 class="term">{{if eq .Term.Season 1}}Sommer
	{{else}}Winter{{end}} {{.Term.Year}}
</h2>
<span>{{template "ects-grade" .}}</span>

{{range .Modules}}
<table class="grade">
	<thead>
		<tr>
			<td class="grade-name">{{.Name}}</td>
			<td class="grade-grade">
				{{if .Grade}}
				{{template "ects-grade" .}}
				{{else if eq 1 (len .Exams)}}
					{{with (index .Exams 0)}}
					{{if .Reason}}
					{{template "reason" .Reason}}
					{{else if .Grade}}
						{{.Grade | formatGrade}}
						{{else if and .ExamDate (not (.ExamDate | dateOver))}}
							<span class="grade-tries">{{.ExamDate | formatRelativeDate "am "}}</span>
							{{end}}
							{{end}}
							{{end}}
			</td>
		</tr>
	</thead>
	<tbody>
		{{if ne 1 (len .Exams)}}
		{{range .Exams}}
		<tr>
			<td class="grade-name">
				{{.Name}}
				{{if ne .Tries 1}}
				<span class="grade-tries">{{.Try}}/{{.Tries}}</span>
				{{end}}
			</td>
			<td class="grade-grade">
				{{if .Reason}}
				{{template "reason" .Reason}}
				{{else if .Grade}}
					{{.Grade | formatGrade}}
					{{else if .Points}}
						{{range $i, $part := .PointsParts}}
						{{if $i}}+{{end}}
						{{. | formatGrade}}
						{{end}}
						{{if len .PointsParts}}={{end}}
						{{.Points | formatGrade}} Punkte
						{{else if and .ExamDate (not (.ExamDate | dateOver))}}
							<span class="grade-tries">{{.ExamDate | formatRelativeDate "am "}}</span>
							{{end}}
			</td>
		</tr>
		{{end}}
		{{end}}
	</tbody>
</table>
{{end}}

{{end}}

<style>
.term {
	padding-top: 1.5em;
}

.grade {
	border-spacing: 0;
	overflow: hidden;

	width: 40em;
	max-width: 100%;

	border: 1px solid var(--rule-color);

	margin-top: 1em;
	border-radius: 1em;
}

.grade td {
	padding: 0.5em 1em;
}

.grade thead {
	background: #f5f5f5;
}

.grade-name {
	text-align: left;
}

.grade-grade {
	white-space: nowrap;
	text-align: right;
}

.grade-seperator {
	padding: 0 0.5em;
}

.grade-tries {
	padding-left: 0.25em;
	color: #737373;
}

@media (prefers-color-scheme: dark) {
	.grade thead {
		background: #262626;
	}

	.grade-tries {
		color: #a3a3a3;
	}
}
</style>
{{end}}

{{define "ects-grade"}}
{{.Credits}}&nbsp;ECTS{{if .Grade}}<span class="grade-seperator">&#x2012;</span>{{.Grade | formatGrade}}{{end}}
{{end}}

{{define "reason"}}
{{if eq . 1}}
Nicht zugelassen
{{else if eq . 3}}
	Täuschung
	{{else if eq . 4}}
		Abwesend
		{{else if eq . 5}}
			anerkannter Rücktritt
			{{else if eq . 6}}
				Attest
				{{end}}
				{{end}}
