{{define "title"}}{{end}}
{{define "content"}}

{{range .}}
<h2 class="news-title">
	{{if .Link}}<a href="{{.Link}}">{{end}}
		{{if eq .Source "fsrInformatik"}}FSR Info: {{end}}
		{{.Title}}
		{{if .Link}}</a>{{end}}
</h2>
{{.Date | formatRelativeDate ""}}
<div class="text">
	{{.Body | html}}
</div>
{{end}}

<style>
.news-title {
	font-size: 1.3rem;
}
</style>

{{end}}
