<!doctype html>
<html lang="de-DE">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{block "title" .Data}}{{end}} - {{.Domain}}</title>
</head>

<body style="
	--accent-light: {{hashColor 0.5 0.6 0}};
	--accent-dark: {{hashColor 0.3 0.5 0}};
">
	<nav>
		{{if .Session.Info.FirstName}}
		<div class="user-header">
			<span class="user-ids">{{.Session.Info.MatriculationNumber}} {{.Session.Info.Username}}</span>
			<span>
				{{if .Session.Setting.Name}}
				{{.Session.Setting.Name}}
				{{else}}
					{{.Session.Info.FirstName}} {{.Session.Info.LastName}}
					{{end}}
			</span>
		</div>
		{{end}}
		<ul>
			<li><a class="nav-entry" href="/">News</a></li>

			{{if .Session.LoggedIn}}
			<li><a class="nav-entry" href="/schedule">Stundenplan</a></li>
			<li><a class="nav-entry" href="/events">Veranstaltungen</a></li>
			<li><a class="nav-entry" href="/grades/0/82">Noten</a></li>
			<li><a class="nav-entry" href="/grades/1/82">Punkte</a></li>
			{{end}}

			<li><a class="nav-entry" href="/ticket">Ticket</a></li>
			<li><a class="nav-entry" href="/cafeteria#{{if eq .Meal 1}}morning{{else if eq .Meal 2}}noon{{else if eq .Meal 3}}afternoon{{else}}evening{{end}}">Mensa</a></li>

			{{if .Session.LoggedIn}}
			<li><a class="nav-entry" href="/logout">Abmelden</a></li>
			{{else}}
				<li><a class="nav-entry" href="/login">Anmelden</a></li>
				{{end}}
		</ul>
	</nav>

	<main>
		<h1>{{block "title" .Data}}{{end}}</h1>
		{{template "content" .Data}}
	</main>

	<style>
* {
	box-sizing: border-box;
}

:root {
	--rule-color: #a3a3a3;
}

html {
	font-family: sans-serif;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

h4 {
	margin: 0;
}

p {
	margin-block: 1em;
}

ul {
	margin: 0;
	padding-block: 0.5em;
}

a {
	text-decoration: none;
	color: #0ea5e9;
}

.text {
	max-width: 90ch;
	padding-left: 1em;
	margin-block: 1em;
	border-left: 0.25rem solid var(--rule-color);
}

.text ul {
	padding: 0.5em 1em;
}

.text img {
	max-width: 20rem;
}

.subtitle {
	display: flex;
	gap: 1.5em;
	padding-bottom: 1em;
	max-width: 40em;
}

.hend {
	margin-left: auto;
}

.vend {
	margin-top: auto;
}

.form {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.form label {
	display: block;
	font-size: 0.9rem;
	padding: 0.125em 0.25em;
}

.form input,
.form button {
	font-size: 1.2rem;
	padding: 0.25em 0.5em;
	width: 100%;

	color: unset;
	background: unset;
	border: 0.125em solid var(--rule-color);
	border-radius: 0.5em;
}

.form input:focus-visible,
.form button:focus-visible {
	outline: 0.125em solid var(--accent);
	outline-offset: 0.125em;
}

.form button:hover {
	background: var(--rule-color);
}

body {
	--accent: var(--accent-light);

	margin: 0;
	padding: 1em;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

nav {
	min-width: 14em;
}

main {
	min-width: 0;
}

.user-header {
	padding-bottom: 1em;
}

.user-header>span {
	padding-top: 0.25em;
}

.user-ids {
	font-weight: bold;
	font-family: Courier, monospace;
}

nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	overflow-x: auto;
	font-size: 1.2rem;

	gap: 0.5em;
}

.nav-entry {
	border-radius: 1em;
	border: 1px solid var(--rule-color);
	display: block;
	color: unset;
	padding: 0.5em 1em;
}

@media (prefers-color-scheme: dark) {
	:root {
		--rule-color: #404040;
	}

	body {
		--accent: var(--accent-dark);

		background: #171717;
		color: white;
	}

	a {
		color: #0ea5e9;
	}
}

@media (min-width: 768px) {
	body {
		padding: 3em 2em 1em 3em;

		flex-direction: row;
		gap: 2em;
	}

	.user-header {
		padding-bottom: 2em;
		flex-direction: column;
		gap: 0;
	}

	.user-ids {
		display: block;
	}

	nav>ul {
		flex-direction: column;
	}
}
	</style>
</body>

</html>
