{{define "title"}}Anmelden{{end}}
{{define "content"}}
<form class="form" method="post">
	<div>
		<label for="username">URZ-Kürzel</label>
		<input name="username" id="username">
	</div>
	<div>
		<label for="password">Password</label>
		<input name="password" id="password" type="password">
	</div>
	<button>Anmelden</button>
</form>

<style>
#username {
	font-family: Courier, monospace;
}
</style>
{{end}}
