{{define "title"}}{{.Name}}{{end}}
{{define "content"}}
<div class="subtitle">
	{{if .Number}}<span>#{{.Number}}</span>{{end}}
	{{if .ShortText}}<span>{{.ShortText}}</span>{{end}}
	<a href="https://friedolin.uni-jena.de/qisserver/rds?state=verpublish&moduleCall=PordDetail&publishConfFile=pord&publishSubDir=pord&pord.pordnr={{.Id}}">Friedolin</a>
</div>

{{if .Events}}
<h2>Zusammensetzung</h2>
<ul>
	{{range .Events}}
	<li><a href="/event/{{.Id}}">{{.Type | formatEventType}}</a></li>
	{{end}}
</ul>
{{end}}

{{if .Content}}
<h2>Inhalt</h2>
<div class="text">{{.Content | html}}</div>
{{end}}

{{if .Literature}}
<h2>Literatur</h2>
<div class="text">{{.Literature | html}}</div>
{{end}}

{{if .LearningObjectives}}
<h2>Lernziele</h2>
<div class="text">{{.LearningObjectives | html}}</div>
{{end}}

{{if .ExamPrerequisites}}
<h2>Voraussetzung zur Prüfungszulassung</h2>
<div class="text">{{.ExamPrerequisites | html}}</div>
{{end}}

{{end}}
