{{$schedule := .}}

<div class="schedule">
	<div class="schedule-weekdays">
		{{range $i, $day := .Days}}
		<h3 class="schedule-col">
			{{if eq $i 0}}
			Mo
			{{else if eq $i 1}}
				Di
				{{else if eq $i 2}}
					Mi
					{{else if eq $i 3}}
						Do
						{{else if eq $i 4}}
							Fr
							{{else if eq $i 5}}
								Sa
								{{else if eq $i 6}}
									So
									{{end}}
		</h3>
		{{end}}
	</div>
	<div class="schedule-table">
		<div class="schedule-labels">
			{{range .Labels}}
			<span class="schedule-label" style="top: calc({{.From}} / {{$schedule.MaxTime}} * 100%)">{{.Hour}}:00</span>
			<span class="schedule-line" style="--top: calc({{.From}} / {{$schedule.MaxTime}} * 100%)"></span>
			{{end}}
		</div>
		{{range .Days}}
		<div class="schedule-col schedule-table-col" style="
			height: calc({{$schedule.MaxTime}} / 60 * var(--schedule-hour-height));
		">
			{{range .}}
			{{$block := .}}
			<div class="schedule-block" style="
				top: calc({{.From}} / {{$schedule.MaxTime}} * 100%);
				bottom: calc((1 - {{.To}} / {{$schedule.MaxTime}}) * 100%);
			">
				{{range .Cols}}
				<div class="schedule-split-col" style="position: relative;">
					{{range .}}
					{{if or $schedule.EventLink (and (and .Room .Room.Id) (ne .Room.Name "interner Raum"))}}
					<a href="
						{{if $schedule.EventLink}}
						/event/{{.EventId}}
						{{else}}
						/room/{{.Room.Id}}
						{{end}}
					" {{else}} <div {{end}} class="schedule-card {{if .Striped}}schedule-striped{{end}}" title="{{.Name}}{{if and (and .Room .Room.Name) (ne .Room.Name "interner Raum")}} - {{.Room.Name}}{{if and .Room.BuildingName}}, {{.Room.BuildingName}}{{end}}{{end}}" style="
						top: calc({{.From}} / ({{$block.To}} - {{$block.From}}) * 100%);
						bottom: calc((1 - {{.To}} / ({{$block.To}} - {{$block.From}})) * 100%);
						--color-light: {{hashColor 0.5 0.6 .Hash}};
						--color-light2: {{hashColor 0.5 0.3 .Hash}};
						--color-dark: {{hashColor 0.3 0.5 .Hash}};
						--color-dark2: {{hashColor 0.45 0.4 .Hash}}
					">
						<span><strong>{{.Name}}</strong> {{if .Type}}{{formatEventType .Type}}{{end}}</span>
						{{if eq .Frequency 2}}<span>nur jede 2. Woche</span>{{end}}
						{{if and (and .Room .Room.Name) (ne .Room.Name "interner Raum")}}<span>{{.Room.Name}}{{if .Room.BuildingName}}, {{.Room.BuildingName}}{{end}}</span>{{end}}
						{{if eq .Frequency 0}}<span class="vend hend">{{.FromDate | formatDate}}</span>{{end}}
						{{if or $schedule.EventLink (and (and .Room .Room.Id) (ne .Room.Name "interner Raum"))}}
					</a>
					{{else}}
				</div>
				{{end}}
				{{end}}
			</div>
			{{end}}
		</div>
		{{end}}
	</div>
	{{end}}
</div>
</div>

<style>
:root {
	--schedule-label-width: 3em;
	--schedule-label-padding: 1em;
	--schedule-day-width: 17rem;
	--schedule-hour-height: 3.5em;
}

.schedule {
	overflow-x: auto;
}

.schedule>div {
	display: flex;
	width: max-content;
}

.schedule-weekdays {
	text-align: center;
	margin-left: var(--schedule-label-width);
	padding-left: var(--schedule-label-padding);
}

.schedule-weekdays>h3 {
	display: inline-block;
}

.schedule-table {
	position: relative;
	margin-bottom: 1em;
}

.schedule-labels {
	min-width: var(--schedule-label-width);
	margin-right: var(--schedule-label-padding);
}

.schedule-label {
	position: absolute;
	margin-top: -0.6em;
	height: 0;
	width: calc(var(--schedule-label-width) - 0.5em);
	text-align: right;
}

.schedule-line::after {
	content: "";
	border-bottom: 1px solid var(--rule-color);

	position: absolute;
	top: var(--top);
	left: var(--schedule-label-width);
	right: 0;
}

.schedule-col {
	min-width: var(--schedule-day-width);
	border-left: 1px solid var(--rule-color);
}

.schedule-table-col {
	display: flex;
	position: relative;
}

.schedule-block {
	display: flex;
	position: absolute;
	width: 100%;
	padding-right: 0.5em;
}

.schedule-split-col {
	position: relative;
	width: 100%;
	height: 100%;
}

.schedule-card {
	display: flex;
	flex-direction: column;

	position: absolute;
	left: -2.5px;
	right: 2.5px;

	margin: 1px;
	padding: 0.25em 0.5em;

	color: white;
	text-decoration: none;

	border-radius: 0.5em;
	box-sizing: border-box;
	background: var(--color-light);
}

.schedule-striped {
	background: repeating-linear-gradient(-45deg, var(--color-light), var(--color-light) 10px, var(--color-light2) 10px, var(--color-light2) 20px);
}

@media (prefers-color-scheme: dark) {
	.schedule-card {
		background: var(--color-dark);
	}

	.schedule-striped {
		background: repeating-linear-gradient(-45deg, var(--color-dark), var(--color-dark) 10px, var(--color-dark2) 10px, var(--color-dark2) 20px);
	}
}
</style>
