{{define "title"}}Suche{{end}}
{{define "content"}}
<form class="form" method="post">
	<div>
		<label for="name">Name</label>
		<input name="name" id="name" value="{{.Name}}">
	</div>
	<button>Suche</button>
</form>

{{range .Events}}
<div>
	<a href="/event/{{.Id}}">{{.}}</a>
</div>
{{end}}

{{end}}
