{{define "title"}}Ticket{{end}}
{{define "content"}}

{{if .Email}}

{{if .Tickets}}
{{range .Tickets}}
<div class="ticket-header">
	<h2>{{.Name}}</h2>
	<span>Abo-Nummer: {{.SubscriptionNumber}}</span>
</div>
<img class="ticket" src="data:image/{{.Format}};base64,{{.Code}}" />
{{end}}

{{else}}
	<h2>Ticket hinzufügen</h2>
	<form class="form" method="post">
		<div>
			<label for="subNumber">Abo-Nummer</label>
			<input name="subNumber" id="subNumber">
		</div>
		<div>
			<label>Geburtsdatum</label>
			<div class="date-input">
				<input name="day" id="day" placeholder="DD" style="flex: 1">
				<input name="month" id="month" placeholder="MM" style="flex: 1">
				<input name="year" id="year" placeholder="YYYY" style="flex: 2">
			</div>
		</div>
		<input type="hidden" name="email" value="{{.Email}}" />
		<input type="hidden" name="password" value="{{.Password}}" />
		<button>Hinzufügen</button>
	</form>
	{{end}}

	{{else}}
		<h2>Mit MeinJena Konto anmelden</h2>
		<form class="form" method="post">
			<div>
				<label for="email">E-Mail-Adresse</label>
				<input name="email" id="email">
			</div>
			<div>
				<label for="password">Password</label>
				<input name="password" id="password" type="password">
			</div>
			<button>Anmelden</button>
		</form>
		{{end}}

		<style>
.ticket-header {
	padding: 1em 0;
}

.date-input {
	display: flex;
	gap: 0.5em;
}

.ticket {
	display: block;
	width: 300px;
	height: 300px;

	background: white;
	padding: 10px;
	border-radius: 10px;

	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
		</style>
		{{end}}
